@use 'sass:map';
@use '../../../styles/colors';

.footer {
  width: 100%;
  height: 168px;
  background-color: map.get(colors.$get-color, 'green4');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
