@use 'sass:map';
@use '../../../../../styles/colors.scss';

.button--green--active:active {
  border-color: map.get(colors.$get-color, 'green3');
  background-color: map.get(colors.$get-color, 'green3');
  color: #fff;
}