.our-team__information__artists__link {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-position: center -5px !important;
  background-size: 100px !important;
}