@use 'sass:map';
@use '../../../styles/colors';

.product-card {
  width: 350px;
  height: 730px;
  background-color: map.get(colors.$get-color, 'green4');

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px 30px;

  & > .button {
    margin-top: auto;
  }
}
