$get-color: (
        black1: #2C2D35,

        green1: #598D66,
        green2: #D4E8D9,
        green3: #376B44,
        green4: #E1EDE6,

        sand1: #EEDB6D,
        sand2: #FAEB97,
        sand3: #A38314,
        sand4: #D9B949
);