@use 'sass:map';
@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin text-formatter($element) {
  @if $element == 'link-static' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 20px;
    }
    color: map.get(colors.$get-color, 'black1');
    text-decoration: none;
  } @else if $element == 'button' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 20px;
    }
  } @else if $element == 'owner-or-author' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    color: map.get(colors.$get-color, 'gray1');
  } @else if $element == 'product-title' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 30px;
    }
    color: map.get(colors.$get-color, 'black1');
  } @else if $element == 'product-description' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    color: map.get(colors.$get-color, 'black1');
  } @else if $element == 'product-price' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 24px;
    }
    color: map.get(colors.$get-color, 'green1');
  } @else if $element == 'backet-counter' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 700;
      style: normal;
      size: 10px;
    }
    color: #fff;
    text-align: center;
    line-height: 11px;
  } @else if $element == 'main-link' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 700;
      style: normal;
      size: 20px;
    }
    text-align: right;
    line-height: 35px;
    color: map.get(colors.$get-color, 'green1');
    text-decoration: none;
  } @else if $element == 'information-heading' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 60px;
    }
    line-height: 110%;
    color: map.get(colors.$get-color, 'black1');

    & > span {
      color: map.get(colors.$get-color, 'green1');
    }
  } @else if $element == 'information-description' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    line-height: 150%;
    color: map.get(colors.$get-color, 'gray1');
  } @else if $element == 'custom-wrapper-promo-heading' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 40px;
    }
    color: map.get(colors.$get-color, 'white1');
  } @else if $element == 'custom-wrapper-promo-description' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    line-height: 150%;
    margin-bottom: 20px;
    color: map.get(colors.$get-color, 'white1');
  } @else if $element == 'our-team-heading' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 40px;
    }
    line-height: 110%;
    color: map.get(colors.$get-color, 'black1');
    margin-bottom: 20px;
  } @else if $element == 'our-team-description' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    line-height: 150%;
    color: map.get(colors.$get-color, 'black1');
    margin-bottom: 20px;
  } @else if $element == 'footer-rights' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 12px;
    }
    line-height: 120%;
    color: map.get(colors.$get-color, 'gray1');
  } @else if $element == 'footer-telephone-number' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 20px;
    }
    color: map.get(colors.$get-color, 'black1');
    text-decoration: none;
  } @else if $element == 'footer-subscriber' {
    font: {
      family: 'Raleway', sans-serif;
      optical-sizing: auto;
      weight: 500;
      style: normal;
      size: 18px;
    }
    color: map.get(colors.$get-color, 'gray1');
  } @else {
    @error 'неверный тип элемента ("#{$element}")';
  }
}