.custom-wrapper-promo {
  width: inherit;
  height: inherit;
  grid-column: 1/3;
  background: url(/images/wrappers/second-wrapper/sad-grandfather.webp) center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 70px 165px;
}