@use '../../../styles/text-formatter' as tf;

.main-link {
  display: inline-block;
  width: 143px;
  height: 35px;
  @include tf.text-formatter('main-link');

  background: url(/images/favicon.svg) no-repeat left center;
  background-size: 35px;
}
