@use 'sass:map';
@use '../../../styles/colors';

.navbar {
  width: 100%;
  height: 100px;
  background: map.get(colors.$get-color, 'green4');
  display: flex;
  align-items: center;
  justify-content: center;
}
